<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="sign-in"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h1 class="text-lg xs:text-2xl text-center">Daftarkan diri anda!</h1>
	<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="mt-2">
		<ion-grid fixed>
      <ion-row>
        <profile-fields [form]="signUpForm" [errorMessages]="errorMessages"></profile-fields>

        <ion-col size="12">
          <ion-item class="rounded-xl">
            <ion-label position="stacked">Nama pengguna</ion-label>
            <ion-input type="text" inputmode="text" formControlName="username" placeholder="Nama pengguna anda" class="text-sm xs:text-base"></ion-input>
            <ion-icon slot="end" name="person" color="primary" class="text-xs sm:text-base my-auto"></ion-icon>
          </ion-item>
          <div class="text-md xs:text-base text-red-600 font-medium mt-1" *ngFor="let error of errorMessages.username">
            <ng-container *ngIf="username.hasError(error.type) && (username.touched || username.dirty)">
              <small>{{ error.message }}</small>
              <ion-icon name="alert-circle" class="ml-1"></ion-icon>
            </ng-container>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item class="rounded-xl">
            <ion-label position="stacked">Kata sandi</ion-label>
            <ion-input type="password" inputmode="text" formControlName="password" placeholder="Kata sandi anda" class="text-sm xs:text-base"></ion-input>
            <ion-icon slot="end" name="lock-open" color="primary" class="text-xs xs:text-base my-auto"></ion-icon>
          </ion-item>
          <div class="text-md xs:text-base text-red-600 font-medium mt-1" *ngFor="let error of errorMessages.password">
            <ng-container *ngIf="password.hasError(error.type) && (password.touched || password.dirty)">
              <small>{{ error.message }}</small>
              <ion-icon name="alert-circle" class="ml-1"></ion-icon>
            </ng-container>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item class="rounded-xl">
            <ion-label position="stacked">Konfirmasi kata sandi</ion-label>
            <ion-input type="password" inputmode="text" formControlName="confirmPassword" placeholder="Konfirmasi kata sandi anda" class="text-sm xs:text-base"></ion-input>
            <ion-icon slot="end" name="lock-closed" color="primary" class="text-xs xs:text-base my-auto"></ion-icon>
          </ion-item>
          <div class="text-md xs:text-base text-red-600 font-medium mt-1" *ngFor="let error of errorMessages.confirmPassword">
            <ng-container *ngIf="confirmPassword.hasError(error.type) && (confirmPassword.touched || confirmPassword.dirty)">
              <small>{{ error.message }}</small>
              <ion-icon name="alert-circle" class="ml-1"></ion-icon>
            </ng-container>
          </div>
          <div class="text-md xs:text-base text-red-600 font-medium mt-1" *ngIf="confirmPassword?.errors?.matchValidator">
            <small>Kata sandi dengan konfirmasi kata sandi tidak sama</small>
            <ion-icon name="alert-circle" class="ml-1"></ion-icon>
          </div>
        </ion-col>

        <ion-col class="text-center" size="12">
          <ion-button type="submit" class="ion-margin-top" shape="round" class="normal-case text-xs xs:text-md">Daftar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
	</form>
</ion-content>
