<ion-header class="ion-no-border">
  <ion-toolbar class="with-back-button with-button-icon">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="articles"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onArchive()">
        <ion-icon class="icon" name="bookmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

	<article-detail *ngIf="article" [article]="article"></article-detail>
</ion-content>
