<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title class="text-lg sm:text-xl">Statistik</ion-title>
		<ion-buttons slot="start">
			<ion-menu-button menu="side-menu">
				<ion-icon class="icon" src="../../assets/icons/svg/menu.svg"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="flex-column row-gap-5">
  <ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="flex justify-center items-center gap-x-6">
    <ion-button (click)="onSelectMode('mood')" [color]="selectedMode === 'mood' ? 'primary' : 'light'" class="normal-case">
      Mood
    </ion-button>
    <ion-button (click)="onSelectMode('habit')" [color]="selectedMode === 'habit' ? 'primary' : 'light'" class="normal-case">
      Habit
    </ion-button>
  </div>

  <div class="flex-1">
    <ng-container *ngIf="selectedMode === 'mood'">
      <mood-statistics></mood-statistics>
    </ng-container>

    <ng-container *ngIf="selectedMode === 'habit'">
      <habit-statistics></habit-statistics>
    </ng-container>
  </div>
</ion-content>
