<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ currentPage === 1 ? 'Bagian I' : 'Bagian II - III' }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onPrev()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col">
    <div #questionsContainer class="flex-1">
      <ng-container *ngIf="currentPage === 1; else showNext;">
        <h3 class="text-md xs:text-lg font-semibold">1. {{ testQuestions[0].question }}</h3>
        <div class="flex flex-col gap-y-1 text-xs xs:text-md mt-2">
          <span class="italic">Keterangan:</span>
          <span>
            <b>*Y=</b> Ya
          </span>
          <span>
            <b>*T=</b> Tidak
          </span>
        </div> 
        <div class="grid grid-flow-row grid-cols-auto-fr(1) gap-x-3 gap-y-5 text-xs xs:text-base mt-4">
          <ng-container *ngFor="let choice of testQuestions[0].choices; let idx= index;">
            <label class="lowercase font-semibold w-fit-content">{{ idx | alphabetNumbering }}).</label>
            <div class="flex flex-col gap-y-2">
              <p>{{ choice.question }}</p>
              <div class="inline-flex justify-center items-center gap-x-4">
                <label *ngFor="let answer of ['Y', 'T']" class="relative">
                  <input
                    type="radio" 
                    (change)="onSelectAnswer(answer, 0, idx)" 
                    [name]="'part-1-choices-'+(idx+1)"
                    [checked]="answer === choice.answer"
                    class="absolute invisible top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4"
                  >
                  <div 
                    [ngClass]="{ 
                      'bg-primary text-white font-semibold': answer === choice.answer,
                      'bg-white text-primary font-semibold': answer !== choice.answer 
                    }" 
                    class="selection border border-primary rounded-full flex justify-center items-center w-5 h-5 xs:w-8 xs:h-8 p-4"
                  >
                    <span class="text-xs">{{ answer }}</span>
                  </div>
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      
      <ng-template #showNext>
        <ng-container *ngIf="currentPage === 2">
          <div class="grid grid-flow-row gap-y-5">
            <div class="flex flex-col gap-y-2">
              <h3 class="text-md xs:text-lg font-semibold">2. {{ testQuestions[1].question }}</h3>
              <div class="flex flex-col gap-y-2 text-xs xs:text-md">
                <span class="italic">Keterangan:</span>
                <span>
                  <b>*Y=</b> Ya
                </span>
                <span>
                  <b>*T=</b> Tidak
                </span>
              </div>
              <div class="inline-flex justify-center items-center gap-x-4 mt-2 text-xs xs:text-base">
                <label *ngFor="let answer of ['Y', 'T']" class="relative">
                  <input
                    type="radio" 
                    (change)="onSelectAnswer(answer, 1)" 
                    name="part-2"
                    [checked]="answer === testQuestions[1].answer" 
                    class="absolute invisible top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4"
                  >
                  <div
                    [ngClass]="{ 
                      'bg-primary text-white font-semibold': answer === testQuestions[1].answer,
                      'bg-white text-primary font-semibold': answer !== testQuestions[1].answer 
                    }" 
                    class="selection border border-primary rounded-full flex justify-center items-center w-5 h-5 xs:w-8 xs:h-8 p-4"
                  >
                    <span class="text-xs">{{ answer }}</span>
                  </div>
                </label>
              </div>
            </div>
  
            <div class="flex flex-col gap-y-2">
              <h3 class="text-md xs:text-lg font-semibold">3. {{ testQuestions[2].question }}</h3>
              <div class="flex flex-col gap-y-2 text-xs xs:text-md">
                <span class="italic">Keterangan:</span>
                <span>
                  <b>*TM=</b> Tidak Ada Masalah
                </span>
                <span>
                  <b>*PK=</b> Permasalahan Kecil
                </span>
                <span>
                  <b>*PS=</b> Permasalahan Sedang
                </span>
                <span>
                  <b>*PB=</b> Permasalahan Besar atau Serius
                </span>
              </div>
              <div class="inline-flex justify-center items-center gap-x-4 mt-2">
                <label *ngFor="let answer of ['TM', 'PK', 'PS', 'PB']" class="relative">
                  <input
                    type="radio" 
                    (change)="onSelectAnswer(answer, 2)" 
                    name="part-3"
                    [checked]="answer === testQuestions[2].answer" 
                    class="absolute invisible top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4"
                  >
                  <div
                    [ngClass]="{ 
                      'bg-primary text-white font-semibold': answer === testQuestions[2].answer,
                      'bg-white text-primary font-semibold': answer !== testQuestions[2].answer 
                    }" 
                    class="selection border border-primary rounded-full flex justify-center items-center w-5 h-5 xs:w-8 xs:h-8 p-4"
                  >
                    <span class="text-xs">{{ answer }}</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
    <div #nextButton class="flex flex-col items-center gap-y-1 w-fit-content mx-auto mt-20">
      <button (click)="onNext()" class="flex focus:outline-none">
        <ion-icon slot="icon-only" name="chevron-forward-circle" color="primary" size="large"></ion-icon>
      </button>
      <label class="text-tiny xs:text-md">{{ buttonText }}</label>
    </div>
  </div>
</ion-content>
