<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="moods/create/step-1"></ion-back-button>
		</ion-buttons>
    <!--<ion-buttons slot="end">
      <ion-button (click)="onSubmit()">
        <ion-icon slot="icon-only" name="checkmark-circle" size="large" class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<h1 class="text-lg text-center font-medium">Apa yang telah anda lakukan? :)</h1>-->
  <form [formGroup]="createMoodForm" (ngSubmit)="onSubmit()" class="xs:mt-2">
    <ion-grid fixed>
      <ion-row class="gap-y-3">
        <ion-col size="12">
          <div formGroupName="parameters" class="flex flex-col gap-y-5">
            <div class="text-xs xs:text-lg">
              <div class="flex items-center gap-x-1">
                <ion-icon src="../../../../../assets/icons/svg/thinking.svg" color="primary"></ion-icon>
                <ion-label>Internal</ion-label>
              </div>
              <ion-textarea 
                rows="5"
                placeholder="Contoh: Apa yang sedang anda pikirkan? Mengelamun? Membayangkan sesuatu?" 
                formControlName="internal"
                class="rounded-2xl bg-gray-200 w-full p-2">
              </ion-textarea>
            </div>

            <div class="text-xs xs:text-lg">
              <div class="flex items-center gap-x-1">
                <ion-icon src="../../../../../assets/icons/svg/dancing.svg" color="primary"></ion-icon>
                <ion-label>External</ion-label>
              </div>
              <ion-textarea 
                rows="5"
                placeholder="Contoh: Anda sedang keluar bersama siapa? Dimana? Kapan?" 
                formControlName="external"
                class="rounded-2xl bg-gray-200 w-full p-2">
              </ion-textarea>
            </div>
          </div>
        </ion-col>

        <!--<ion-col size="12">
          <div class="flex items-center gap-x-1">
            <ion-icon name="accessibility" color="primary"></ion-icon>
            <ion-label>Aktivitas</ion-label>
          </div>
          <select-activities (selectActivitiesEvent)="onSelectActivities($event)" class="block mt-2"></select-activities>
        </ion-col>-->

        <ion-col size="12" class="text-xs xs:text-lg">
          <div class="flex items-center gap-x-1">
            <ion-icon name="document-text" color="primary"></ion-icon>
            <ion-label>Catatan</ion-label>
          </div>
          <ion-textarea 
            rows="5" 
            placeholder="Catatan tambahan..."
            formControlName="note"
            class="rounded-2xl bg-gray-200 w-full p-2">
          </ion-textarea>
        </ion-col>

        <!--<ion-col size="12">
          <div class="flex items-center gap-x-1">
            <ion-icon name="camera" color="primary"></ion-icon>
            <ion-label>Gambar</ion-label>
          </div>
        </ion-col>-->

        <ion-col size="12">
          <button type="submit" class="flex text-4xl xs:text-5xl mx-auto focus:outline-none">
            <ion-icon name="checkmark-circle" color="primary"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
