<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title class="text-lg sm:text-xl">Artikel saya</ion-title>
		<ion-buttons slot="start">
			<ion-menu-button menu="side-menu">
				<ion-icon class="icon" src="../../assets/icons/svg/menu.svg"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <a [routerLink]="['/articles/search']" [state]="{ searchOn: 'archived-articles' }">
    <ion-searchbar
      type="text"
      inputmode="text"
      placeholder="Cari artikel"
      showCancelButton="never"
      class="opacity-100"
      disabled>
    </ion-searchbar>
  </a>

  <ng-container *ngIf="utilitiesService.isSkeletonLoading(); else finishLoading">
    <article-list-loader></article-list-loader>
  </ng-container>

  <ng-template #finishLoading>
    <ng-container *ngIf="!articles.length; else showArticles">
      <div class="flex flex-col justify-center items-center gap-y-2 h-full">
        <img src="../../../../assets/images/open-file.png" class="object-contain w-72" alt="">
        <span>-Tidak ada artikel-</span>
      </div>
    </ng-container>

    <ng-template #showArticles>
      <ion-list lines="none" class="grid grid-flow-row gap-y-8 rounded-xl py-4">
        <ion-item-sliding *ngFor="let article of articles">
          <ion-item>
            <article-list-item [routerLink]="['/articles', article.urlName]" [article]="article"></article-list-item>
          </ion-item>
  
          <ion-item-options side="end">
            <div (click)="onRemove(article)" class="flex flex-col items-center gap-y-2 rounded-lg bg-red-500 text-white p-4">
              <ion-icon name="trash" size="large"></ion-icon>
              <label class="normal-case font-semibold">Hapus</label>
            </div>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ng-template>
  </ng-template>
</ion-content>
