<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title class="text-lg sm:text-xl">Artikel saya</ion-title>
		<ion-buttons slot="start">
			<ion-menu-button menu="side-menu">
				<ion-icon class="icon" src="../../assets/icons/svg/menu.svg"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="isLoading; else finishLoading">
    <article-list-loader></article-list-loader>
  </ng-container>

  <ng-template #finishLoading>
    <ng-container *ngIf="!articles.length; else showArticles">
      <div class="flex flex-col justify-center items-center h-full">
        <span>-Belum ada artikel yang tersimpan-</span>
      </div>
    </ng-container>

    <ng-template #showArticles>
      <ion-list lines="none" class="grid grid-flow-row gap-y-8 rounded-xl py-4">
        <ng-container *ngFor="let article of articles">
          <ion-item-sliding>
            <ion-item>
              <article-list-item [routerLink]="['/articles', article.urlName]" [article]="article"></article-list-item>
            </ion-item>
  
            <ion-item-options side="end">
              <ion-item-option (click)="onRemove(article.Id)" class="normal-case">Hapus</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ng-container>
      </ion-list>
    </ng-template>
  </ng-template>
</ion-content>
