<ion-header class="ion-no-border">
	<ion-toolbar class="with-back-button with-button-icon">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="side-menu"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button shape="round">
				<ion-icon class="icon" slot="start" name="bookmarks"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-slides *ngIf="articles.length" [options]="sliderOptions">
		<ion-slide *ngFor="let article of articles">
			<article-card-item [routerLink]="['/articles', article.urlName]" [article]="article"></article-card-item>
		</ion-slide>
	</ion-slides>

	<!--<ion-list [ngClass]="'grid gap-4 grid-rows-'+articles.length" *ngIf="articles.length" lines="none">
		<ion-item *ngFor="let article of articles">
			<article-list-item [routerLink]="['/articles', article.urlName]" [article]="article"></article-list-item>
		</ion-item>
	</ion-list>-->

	<ion-virtual-scroll *ngIf="articles.length" approxItemHeight="200" [items]="articles">
		<ion-item class="py-2" lines="none" *virtualItem="let article">
			<article-list-item [routerLink]="['/articles', article.urlName]" [article]="article"></article-list-item>
		</ion-item>
	</ion-virtual-scroll>

	<ion-infinite-scroll *ngIf="showInfiniteScroll" (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content loadingText="Memuat artikel..."></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
