<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Artikel</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="side-menu"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/side-menu/my-articles']">
        <ion-icon class="icon" name="bookmarks"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <a [routerLink]="['/articles/search']">
    <ion-searchbar type="text" inputmode="text" placeholder="Cari artikel" showCancelButton="never" class="opacity-100"
      disabled>
    </ion-searchbar>
  </a>

  <ng-container *ngIf="!articles.length; else showArticles">
    <article-card-loader></article-card-loader>
    <article-list-loader></article-list-loader>
  </ng-container>
  <ng-template #showArticles>
    <ion-slides [options]="sliderOptions">
      <ion-slide *ngFor="let article of articles" [routerLink]="['/articles', article.urlName]">
        <article-card-item [article]="article"></article-card-item>
      </ion-slide>
    </ion-slides>

    <cdk-virtual-scroll-viewport itemSize="96" minBufferPx="900" maxBufferPx="1350">
      <ion-list class="grid grid-flow-row gap-8 rounded-xl py-4" lines="none">
        <ion-item id='{{ "article_"+idx }}' *cdkVirtualFor="let article of articles; let idx= index;"
          [routerLink]="['/articles', article.urlName]">
          <article-list-item [article]="article"></article-list-item>
        </ion-item>
      </ion-list>
    </cdk-virtual-scroll-viewport>

    <!-- <ion-list class="grid grid-flow-row gap-8 rounded-xl py-4" lines="none">
      <ion-item id='{{ "article_"+idx }}' *ngFor="let article of articles; let idx= index;"
        [routerLink]="['/articles', article.urlName]">
        <article-list-item [article]="article"></article-list-item>
      </ion-item>
    </ion-list> -->
  </ng-template>

  <ion-infinite-scroll [ngClass]="{ 'hidden': !showInfiniteScroll }" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content>
      <div class="flex justify-center items-center">
        <ion-button (click)="onLoadMore()" size="small" shape="round" class="normal-case">Muat Lagi</ion-button>
      </div>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
