<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="text-lg sm:text-xl">Aktivitas</ion-title>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="side-menu/settings"></ion-back-button>
		</ion-buttons>
    <ion-buttons slot="end">
			<ion-button [routerLink]="['/settings/activities/keeped']" shape="round">
				<ion-icon slot="icon-only" name="file-tray" class="icon"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="!(activityCategories$ | async)?.length; else showActivityCategories">
    <div class="flex justify-center items-center h-full">
      <span>-Belum ada aktivitas yang tersimpan-</span>
    </div>
  </ng-container>
  <ng-template #showActivityCategories>
    <ion-reorder-group (ionItemReorder)="reorderCategory($event)" disabled="false">
      <ion-item lines="none" *ngFor="let activityCategory of (activityCategories$ | async)">
        <activity-category-list-item [activityCategory]="activityCategory" [forReorder]="true"></activity-category-list-item>
      </ion-item>
    </ion-reorder-group>
  </ng-template>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="flex flex-col items-center gap-y-1 p-4">
      <ion-button [routerLink]="['/settings/activities/create-activity']" shape="round" class="normal-case w-3/4 mx-auto">
        <ion-icon slot="start" name="accessibility"></ion-icon>
        Tambah Aktivitas
      </ion-button>
      <ion-button [routerLink]="['/settings/activities/create-activity-category']" shape="round" class="normal-case w-3/4 mx-auto">
        <ion-icon slot="start" name="folder-open"></ion-icon>
        Tambah Kategori Aktivitas
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
