<div class="relative">
  <div class="rounded-xl filter brightness-50 w-full h-36">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>
  <div class="absolute top-0 left-0 flex flex-col justify-end w-full h-full p-4">
    <div class="flex flex-col gap-y-2 text-left text-white w-full">
      <ion-skeleton-text animated class="w-3/4"></ion-skeleton-text>
      <div class="flex justify-between items-center">
        <ion-skeleton-text animated class="w-1/2"></ion-skeleton-text>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
    </div>
  </div>
</div>
