<ion-content>
  <div class="flex flex-col justify-center h-full">
    <h1 class="text-2xl text-center">Setel Ulang Kata Sandi</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Kata sandi baru</ion-label>
              <ion-input type="password" placeholder="Kata sandi baru anda" inputmode="text" formControlName="newPassword"></ion-input>
              <ion-icon class="icon text-base mt-auto" slot="end" name="lock-open"></ion-icon>
            </ion-item>
            <div class="flex mt-1 font-semibold" *ngFor="let error of errorMessages.newPassword">
              <ng-container *ngIf="newPassword.hasError(error.type) && (newPassword.touched || newPassword.dirty)">
                <small class="text-red-600">{{ error.message }}</small>
                <ion-icon class="text-base text-red-600 ml-1 my-auto" name="alert-circle"></ion-icon>
              </ng-container>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Konfirmasi kata sandi baru</ion-label>
              <ion-input type="password" placeholder="Konfirmasi kata sandi baru anda" inputmode="text" formControlName="confirmNewPassword"></ion-input>
              <ion-icon class="icon text-base mt-auto" slot="end" name="lock-closed"></ion-icon>
            </ion-item>
            <div class="flex mt-1 font-semibold" *ngFor="let error of errorMessages.confirmNewPassword">
              <ng-container class="flex mt-1 font-semibold" *ngIf="confirmNewPassword.hasError(error.type) && (confirmNewPassword.touched || confirmNewPassword.dirty)">
                <small class="text-red-600">{{ error.message }}</small>
                <ion-icon class="text-base text-red-600 ml-1 my-auto" name="alert-circle"></ion-icon>
              </ng-container>
            </div>
            <div class="flex mt-1 font-semibold" *ngIf="confirmNewPassword?.errors?.matchValidator">
              <small class="text-red-600">Kata sandi dengan konfirmasi kata sandi tidak sama</small>
              <ion-icon class="text-base text-red-600 ml-1 my-auto" name="alert-circle"></ion-icon>
            </div>
          </ion-col>

          <ion-col class="text-center" size="12">
            <ion-button type="submit" shape="round">Ubah</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
