<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/side-menu/tabs/habits"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit(createHabitForm)">
        <ion-icon slot="icon-only" name="checkmark" size="large" class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #createHabitForm="ngForm" (ngSubmit)="onSubmit(createHabitForm)">
    <ion-grid fixed>
      <ion-row class="flex flex-col gap-y-4">
        <ion-col size="12">
          <label class="text-md text-black text-opacity-50 font-semibold">Nama</label>
          <input 
            type="text" 
            inputmode="text"
            name="name"
            placeholder="Nama habit"
            ngModel  
            class="block border-b border-gray-300 bg-transparent transition duration-200 focus:outline-none focus:border-primary w-full mt-2 pb-1" />
        </ion-col>
  
        <ion-col size="12">
          <label class="text-md text-black text-opacity-50 font-semibold">Deskripsi</label>
          <textarea
            inputmode="text" 
            rows="5"
            name="description"
            placeholder="Deskripsi habit"
            ngModel 
            class="resize-none flex border border-gray-300 rounded-md bg-transparent transition duration-200 focus:outline-none focus:border-primary w-full mt-2 p-2"></textarea>
        </ion-col>
  
        <ion-col size="12">
          <label class="text-md text-black text-opacity-50 font-semibold">Lakukan / Hindari</label>
          <div class="flex justify-center gap-x-3 mt-2">
            <ion-button type="button" (click)="onSelectType('to do')" [color]="selectedType === 'to do' ? 'primary' : 'light'" class="normal-case w-full">
              Lakukan
            </ion-button>
            <ion-button type="button" (click)="onSelectType('not to do')" [color]="selectedType === 'not to do' ? 'primary' : 'light'" class="normal-case w-full">
              Hindari
            </ion-button>
          </div>
        </ion-col>
  
        <ion-col size="12">
          <label class="text-md text-black text-opacity-50 font-semibold">Pilih Hari</label>
          <select-day-horizontal-list [selectedDay]="selectedDay" (selectDayEvent)="onSelectDay($event)" class="block mt-2"></select-day-horizontal-list>
        </ion-col>
  
        <ion-col size="12">
          <label class="text-md text-black text-opacity-50 font-semibold">Goal Frekuensi</label>
          <input 
            type="number" 
            inputmode="numeric"
            name="goal" 
            placeholder="Frekuensi"
            ngModel 
            class="block border-b border-gray-300 bg-transparent transition duration-200 focus:outline-none focus:border-primary w-full mt-2 pb-1">
        </ion-col>
  
        <ion-col size="12" class="ion-activatable">
          <div class="flex justify-between items-center rounded-lg bg-purple-200 p-4">
            <label class="text-md text-primary font-semibold">Tanggal Target Selesai</label>
            <ion-icon name="calendar-number" color="primary"></ion-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
  
        <ion-col size="12">
          <div class="flex justify-between items-center">
            <label class="text-md text-black text-opacity-50 font-semibold">Ingatkan Saya</label>
            <ion-toggle (ionChange)="onChangeReminderAt($event)" color="primary"></ion-toggle>
          </div>
          <div #selectReminderAt class="ion-activatable mt-2">
            <div class="flex justify-between items-center rounded-lg bg-purple-200 p-4">
              <label class="text-md text-primary font-semibold">Pilih Waktu</label>
              <ion-icon name="alarm" color="primary"></ion-icon>
            </div>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-col>
  
        <ion-col size="12">
          <label class="text-md text-black text-opacity-50 font-semibold">Warna Label</label>
          <select-habit-label-color (selectColorEvent)="onSelectLabelColor($event)" class="block mt-2"></select-habit-label-color>
        </ion-col>
  
        <ion-col size="12" class="mt-8">
          <button type="submit" class="flex text-5xl focus:outline-none mx-auto">
            <ion-icon name="checkmark-circle" color="primary"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
