<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-toolbar>
      <ion-title class="text-lg sm:text-xl">{{ !isLoading ? (mood.createdAt.date | dateInBahasa).fullDate : '' }}</ion-title>
    </ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="side-menu/tabs/moods"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="!isLoading && onUpdate()">
        <ion-icon slot="icon-only" name="checkmark-circle" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="isLoading; else showMood">
    <mood-fields-loader></mood-fields-loader>
  </ng-container>

  <ng-template #showMood>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div class="flex justify-between gap-x-10 px-4">
            <select-date [selectedDate]="(mood.createdAt.date | dateInBahasa).dateObject" (selectDateEvent)="onSelectDate($event)"></select-date>
            <select-time [selectedTime]="mood.createdAt.time" (selectTimeEvent)="onSelectTime($event)"></select-time>
          </div>
        </ion-col>
  
        <ion-col size="12" class="mt-8">
          <select-emoticon [selectedEmoticon]="mood.emoticon" (selectEmoticonEvent)="onSelectEmoticon($event)"></select-emoticon>
        </ion-col>
  
        <ion-col size="12" class="mt-4">
          <div class="flex items-center gap-x-1">
            <ion-icon src="../../../../assets/icons/svg/thinking.svg" color="primary"></ion-icon>
            <ion-label>Internal</ion-label>
          </div>
          <ion-textarea rows="5" name="internal" [(ngModel)]="mood.parameters.internal" class="rounded-2xl bg-gray-200 w-full p-2" placeholder="Contoh: Apa yang sedang anda pikirkan? Mengelamun? Membayangkan sesuatu?"></ion-textarea>
        </ion-col>
  
        <ion-col size="12" class="mt-4">
          <div class="flex items-center gap-x-1">
            <ion-icon src="../../../../assets/icons/svg/dancing.svg" color="primary"></ion-icon>
            <ion-label>External</ion-label>
          </div>
          <ion-textarea rows="5" name="external" [(ngModel)]="mood.parameters.external" class="rounded-2xl bg-gray-200 w-full p-2" placeholder="Contoh: Anda sedang keluar bersama siapa? Dimana? Kapan?"></ion-textarea>
        </ion-col>
  
        <ion-col size="12" class="mt-4">
          <div class="flex items-center gap-x-1">
            <ion-icon name="accessibility" color="primary"></ion-icon>
            <ion-label>Aktivitas</ion-label>
          </div>
          <select-activities [selectedActivities]="mood.activities" (selectActivitiesEvent)="onSelectActivities($event)" class="block mt-2"></select-activities>
        </ion-col>
  
        <ion-col size="12" class="mt-4">
          <div class="flex items-center gap-x-1">
            <ion-icon name="document-text" color="primary"></ion-icon>
            <ion-label>Catatan</ion-label>
          </div>
          <ion-textarea rows="5" [(ngModel)]="mood.note" class="rounded-2xl bg-gray-200 w-full p-2" placeholder="Catatan tambahan..."></ion-textarea>
        </ion-col>
  
        <!--<ion-col size="12" class="mt-4">
          <div class="flex items-center gap-x-1">
            <ion-icon name="camera" color="primary"></ion-icon>
            <ion-label>Gambar</ion-label>
          </div>
        </ion-col>-->
  
        <ion-col size="12" class="mt-4">
          <div class="flex flex-col items-center">
            <button type="button" (click)="onUpdate()" class="flex text-5xl focus:outline-none">
              <ion-icon name="checkmark-circle" color="primary"></ion-icon>
            </button>
            <span class="block text-md">Simpan</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
