<ion-split-pane contentId="main">
  <ion-menu side="start" menuId="side-menu" contentId="main" class="side-menu">
    <!--<ion-header class="side-menu-header ion-no-border">
      <ion-toolbar class="rounded-none">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>-->
    
    <ion-content class="side-menu-content">
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
          <ion-item class="xs:px-2" [routerLink]="page.url">
            <ion-icon slot="start" [name]="page.icon" color="primary" class="text-xl xs:text-3xl"></ion-icon>
            <ion-label class="text-xs xs:text-lg">{{ page.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item class="xs:px-2" lines="none" button (click)="onLogout()">
            <ion-icon slot="start" name="exit-outline" color="primary" class="text-xl xs:text-3xl"></ion-icon>
            <ion-label class="text-xs xs:text-lg">Keluar</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
