ion-menu {
  --background: transparent;

  ion-toolbar {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    border-radius: 0;
  }
  
  ion-content {
    width: 100%;
    --padding-top: 0;

    ion-list {
      background-color: #F3F4F6;
      
      ion-item {
        --background: #F3F4F6;
        background-color: #F3F4F6;
      }
    }

    @media screen and (max-width: var(--small-screen-width)) {
      --padding-start: 8px;
      --padding-end: 8px;
    }
  }

  @media screen and (max-width: var(--small-screen-width)) {
    --max-width: 75vw;
  }
}
