<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title class="text-lg sm:text-xl">Beranda</ion-title>
		<ion-buttons slot="start">
			<ion-menu-button menu="side-menu">
				<ion-icon src="../../assets/icons/svg/menu.svg" class="icon"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ng-container *ngIf="!clock; else showClock">
      <clock-loader></clock-loader>
    </ng-container>
    <ng-template #showClock>
      <ion-card id="clock" class="rounded-lg m-0 p-2">
        <ion-card-content class="flex items-center gap-x-2 text-white">
          <h1 class="text-6xl mb-0">{{ clock.hours }}</h1>
          <div class="flex flex-col gap-y-1">
            <span class="text-xl">: {{ clock.minutes }}</span>
            <span class="text-md">{{ clock.toDate() }}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </section>

  <section class="mt-6">
    <div class="flex items-center gap-x-2 p-4">
      <img src="/assets/icons/svg/greet.svg" alt="" class="object-contain w-44">
      <span>Selamat datang, {{ user?.firstName }}</span>
    </div>
  </section>

	<section class="mt-8">
    <div class="flex justify-between items-center">
      <h1 class="text-md sm:text-lg font-bold">Asupan Motivasimu!</h1>
      <a class="text-primary" [routerLink]="['/articles']">Lihat semua</a>
    </div>
    <ng-container *ngIf="!articles.length; else showArticles">
      <article-featured-loader></article-featured-loader>
    </ng-container>
    <ng-template #showArticles>
      <ion-slides class="mt-2" [options]="sliderOptions" pager="true">
        <ion-slide *ngFor="let article of articles" [routerLink]="['/articles', article.urlName]">
          <article-featured-item [article]="article"></article-featured-item>
        </ion-slide>
      </ion-slides>
    </ng-template>
  </section>

  <section class="mt-8">
    <!-- MDQ TEST & MY CHAT EMOTIONS-->
  </section>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button size="small" [routerLink]="['/chat-with-bot']">
    <ion-icon name="chatbubble" size="default" class="p-1"></ion-icon>
  </ion-fab-button>
</ion-fab>
