<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="side-menu/tabs/statistics?mode=mood"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-column row-gap-2">
  <ng-container *ngIf="moods.length">
    <h2 class="text-center font-medium">{{ (date | dateInBahasa).fullDate }}</h2>
    <div class="inline-flex gap-x-2 text-sm mt-2">
      <span class="font-semibold">Total Mood:</span>
      <span>{{ moods.length }}</span>
    </div>
    <div class="flex flex-col gap-y-2">
      <mood-list-item *ngFor="let mood of moods" [mood]="mood"></mood-list-item>
    </div>
    <moods-count [moodsCount]="moodsCount" class="mt-2"></moods-count>
  </ng-container>
</ion-content>
