<ion-content class="flex-column row-gap-2">
  <ng-container *ngIf="moods.length">
    <h2 class="text-center font-medium">{{ (date | dateInBahasa).fullDate }}</h2>
    <div class="inline-flex gap-x-2 text-sm mt-2">
      <span class="font-medium">Total Mood:</span>
      <span>{{ moods.length }}</span>
    </div>
    <div class="flex flex-col gap-y-2">
      <mood-list-item *ngFor="let mood of moods" [mood]="mood"></mood-list-item>
    </div>
    <moods-count [moodsCount]="moodsCount" class="mt-2"></moods-count>
  </ng-container>
</ion-content>
