<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="side-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-avatar class="mx-auto">
    <img [src]="user?.imgUrl" />
  </ion-avatar>

  <form [formGroup]="updateProfileForm" (ngSubmit)="onUpdate()">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Nama depan</ion-label>
          <ion-input type="text" placeholder="Nama depan anda" inputmode="text" formControlName="firstName"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.firstName">
          <ng-container *ngIf="firstName.hasError(error.type) && (firstName.dirty || firstName.touched)">
            <small class="text-red-600">{{ error.message }}</small>
          </ng-container>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Nama belakang</ion-label>
          <ion-input type="text" placeholder="Nama belakang anda" inputmode="text" formControlName="lastName"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.lastName">
          <ng-container *ngIf="lastName.hasError(error.type) && (lastName.dirty || lastName.touched)">
            <small class="text-red-600">{{ error.message }}</small>
          </ng-container>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Jenis kelamin</ion-label>
          <ion-select placeholder="Jenis kelamin anda" okText="Pilih" cancelText="Kembali" formControlName="gender">
            <ion-select-option value="Male">Lelaki</ion-select-option>
            <ion-select-option value="Female">Perempuan</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let error of errorMessages.gender">
          <ng-container *ngIf="gender.hasError(error.type) && (gender.dirty || gender.touched)">
            <small class="text-red-600">{{ error.message }}</small>
          </ng-container>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Umur</ion-label>
          <ion-input type="number" placeholder="Umur anda" inputmode="numeric" formControlName="age"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.age">
          <ng-container *ngIf="age.hasError(error.type) && (age.dirty || age.touched)">
            <small class="text-red-600">{{ error.message }}</small>
          </ng-container>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Alamat surel</ion-label>
          <ion-input type="email" placeholder="Surel anda" inputmode="text" formControlName="email"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="text-red-600">{{ error.message }}</small>
          </ng-container>
        </div>
      </ion-col>
      <ion-col class="text-center" size="12">
        <ion-button type="submit" shape="round">Ubah</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
