<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="side-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar style="margin: auto;">
    <img src="https://via.placeholder.com/100"/>
  </ion-avatar>
  <form class="ion-margin-top" #formUpdateProfile="ngForm" (ngSubmit)="onUpdate(formUpdateProfile)">
    <ion-item>
      <ion-label position="stacked">Nama depan</ion-label>
      <ion-input type="text" placeholder="Nama depan anda" inputmode="text" name="firstName" [value]="user?.firstName" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nama belakang</ion-label>
      <ion-input type="text" placeholder="Nama belakang anda" inputmode="text" name="lastName" [value]="user?.lastName" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Jenis kelamin</ion-label>
      <ion-select placeholder="Jenis kelamin anda" okText="Pilih" cancelText="Kembali" name="gender" [value]="user?.gender" ngModel>
        <ion-select-option value="Male">Lelaki</ion-select-option>
        <ion-select-option value="Female">Perempuan</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Umur</ion-label>
      <ion-input type="number" placeholder="Umur anda" inputmode="numeric" name="age" [value]="user?.age" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Alamat surel</ion-label>
      <ion-input type="email" placeholder="Surel anda" inputmode="text" name="email" [value]="user?.email" ngModel></ion-input>
    </ion-item>
    <ion-button
      type="submit"
      class="ion-margin-top"
      shape="round"
      expand="full">
      Ubah
    </ion-button>
  </form>
</ion-content>
