<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Pilih Aktivitas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon name="close-circle" class="icon" style="font-size: 35px !important;"></ion-icon>
      </ion-button>
    </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!activities.length; else showActivities">
    <div class="flex justify-center items-center h-full">
      <span>-Belum ada aktivitas-</span>
    </div>
  </ng-container>
  <ng-template #showActivities>
    <div class="flex flex-col h-full">
      <ion-list class="flex-grow">
        <ion-item>
          <ion-label>Pilih semua</ion-label>
          <ion-checkbox color="primary" [(ngModel)]="selectAll" (ionChange)="onSelectAll()"></ion-checkbox>
        </ion-item>
        <ion-item *ngFor="let activity of activities">
          <ion-label>{{ activity.name }}</ion-label>
          <ion-checkbox color="primary" [(ngModel)]="activity.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-button (click)="onCreate()">
        <ion-icon slot="start" name="add-circle"></ion-icon>
        Simpan
      </ion-button>
    </div>
  </ng-template>
</ion-content>
