<ion-header class="ion-no-border">
  <ion-toolbar class="px-4 xs:px-2">
    <ion-title>Pilih Ikon Aktivitas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon name="close" class="text-2xl xs:text-3xl"></ion-icon>
      </ion-button>
    </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!(activityIcons$ | async)?.length; else showActivityIcons">
    <div class="flex justify-center items-center h-full">
      <span class="text-xs xs:text-base">-Belum ada ikon aktivitas-</span>
    </div>
  </ng-container>

  <ng-template #showActivityIcons>
    <div class="flex flex-col gap-y-2">
      <div class="flex-grow flex flex-wrap gap-2">
        <ion-chip
          class="hover:bg-primary hover:text-white"
          color="primary"
          outline="true"
          *ngFor="let activityIcon of (activityIcons$ | async)"
          (click)="onSelectIcon(activityIcon)">
          <ion-label class="text-sm xs:text-lg">{{ activityIcon.name }}</ion-label>
        </ion-chip>
      </div>
    </div>
  </ng-template>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="flex p-4">
      <ion-button (click)="onChoose()" shape="round" class="text-xs xs:text-md normal-case w-2/6 xs:w-1/2 mx-auto">
        <ion-icon slot="start" name="add-circle"></ion-icon>
        Pilih
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
