<ion-header class="ion-no-border">
	<ion-toolbar>
    <ion-title>Profil Saya</ion-title>
		<ion-buttons slot="start">
			<ion-menu-button menu="side-menu" class="side-menu-button">
				<ion-icon class="icon" src="../../assets/icons/svg/menu.svg"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-icon src="/assets/icons/svg/joyride.svg" color="primary" class="block text-9xl xs:text-10xl mx-auto"></ion-icon>

	<ng-container *ngIf="!user; else showProfile">
		<profile-fields-loader></profile-fields-loader>
	</ng-container>
	<ng-template #showProfile>
		<!--<ion-avatar class="mx-auto" *ngIf="user">
			<img [src]="user.imgUrl" />
		</ion-avatar>-->
		<form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
			<ion-grid fixed>
        <ion-row>
          <profile-fields [user]="user" [form]="updateProfileForm" [errorMessages]="errorMessages"></profile-fields>
          <ion-col class="text-center" size="12">
            <ion-button type="submit" shape="round" class="normal-case text-xs xs:text-md">Simpan</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
		</form>
	</ng-template>
</ion-content>
