ion-modal {
  &.auto-height-modal {
    --height: auto;
    padding: 2.5rem;
  
    //&.bottom {
    //  align-items: flex-end;
    //}
  
    .ion-page {
      display: block;
      position: relative;
      contain: content;
  
      .inner-content {
        //max-height: 80vh;
        overflow: auto;
        padding: 1rem;
      }
    }
  }

  &.rounded-modal {
    --border-radius: 1rem;
  }

  &.wrapper-fit-content {
    .modal-wrapper {
      width: fit-content !important;
    }
  }
}

.activity-edit-name-modal {
  .modal-wrapper {
    position: absolute;
    bottom: 0;
    height: 50%;
  }
}

//.calendar-modal {
//  .modal-wrapper {
//    position: absolute;
//    background: transparent;
//  }
//}




