<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Habits</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="side-menu" class="side-menu-button">
        <ion-icon class="icon" src="../../assets/icons/svg/menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/habits/search']">
        <ion-icon slot="icon-only" name="search" size="large" class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-column row-gap-4">
  <ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="flex justify-center items-center gap-x-2">
    <ion-button [routerLink]="['/side-menu/tabs/habits']" [queryParams]="{ mode: 'all' }"
      [color]="selectedMode === 'all' ? 'primary' : 'light'" class="normal-case">
      <ion-icon name="list" class="text-sm xs:text-lg"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/side-menu/tabs/habits']" [queryParams]="{ mode: 'marked' }"
      [color]="selectedMode === 'marked' ? 'success' : 'light'" class="normal-case">
      <ion-icon name="checkmark-done" class="text-sm xs:text-lg"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/side-menu/tabs/habits']" [queryParams]="{ mode: 'unmarked' }"
      [color]="selectedMode === 'unmarked' ? 'warning' : 'light'" class="normal-case">
      <ion-icon name="alert" class="text-sm xs:text-lg"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/side-menu/tabs/habits']" [queryParams]="{ mode: 'failed' }"
      [color]="selectedMode === 'failed' ? 'danger' : 'light'" class="normal-case">
      <ion-icon name="close" class="text-sm xs:text-lg"></ion-icon>
    </ion-button>
  </div>

  <ng-container *ngIf="utilitiesService.isSkeletonLoading(); else finishLoading">
    <habit-list-loader></habit-list-loader>
  </ng-container>

  <ng-template #finishLoading>
    <ng-container *ngIf="!habits.length; else showHabits">
      <div class="flex-grow flex flex-col justify-center items-center text-xs xs:text-base">
        <fa-icon icon="sun" class="text-yellow-500"></fa-icon>
        <span>Jangan lupa record Habit anda!</span>
      </div>
    </ng-container>

    <ng-template #showHabits>
      <habit-list-slider [habits]="habits" class="w-full h-full"></habit-list-slider>
    </ng-template>
  </ng-template>
</ion-content>
