<ion-header class="ion-no-border">
	<ion-toolbar class="with-back-button">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="side-menu/settings"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col justify-center h-full">
    <h1 class="text-xl text-center">Umpan Balik</h1>
    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <div class="grid grid-cols-5 gap-4">
              <label class="relative" *ngFor="let rate of rates">
                <input class="invisible absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4 w-full h-full" type="radio" [value]="rate.value" formControlName="rating">
                <img class="emoticons" [src]="'../../../../../assets/'+rate.emoticon" alt="">
              </label>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label>Kategori fitur ulasan</ion-label>
              <ion-select formControlName="featureCategory" interface="action-sheet" cancelText="Kembali">
                <ion-select-option value="Mood Tracker">Mood Tracker</ion-select-option>
                <ion-select-option value="Habit Tracker">Habit Tracker</ion-select-option>
                <ion-select-option value="Statistics">Statistik</ion-select-option>
                <ion-select-option value="Chatbot">Chatbot</ion-select-option>
                <ion-select-option value="Article">Artikel</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="item-without-highlight shadow-lg">
              <ion-label position="stacked">Ulasan anda</ion-label>
              <ion-textarea rows="5" placeholder="Tulis ulasan anda disini..." formControlName="review"></ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col class="text-center" size="12">
            <ion-button type="submit" shape="round">Kirim</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
