<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button size="small" [routerLink]="['/chat-with-bot']">
    <ion-icon name="chatbubble" class="text-md"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tabs class="ion-no-border">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="moods">
      <ion-icon name="happy"></ion-icon>
      <ion-label>Mood</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="habits">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Habit</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="statistics">
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>Statistik</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
