ion-tab-bar {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;

  ion-tab-button {
    &:hover ion-icon {
      transform: scale(1.25);
    }

    ion-icon {
      transition: transform .1s;
    }
  }
}
