<ion-card class="rounded-lg mx-0">
  <ion-card-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col class="flex-grow-0">
          <span class="text-7xl h-16">
            <ion-skeleton-text animated></ion-skeleton-text>
          </span>
        </ion-col>
        <ion-col class="flex flex-col justify-around">
          <span class="text-3xl">
            <ion-skeleton-text animated></ion-skeleton-text>
          </span>
          <span class="block text-base">
            <ion-skeleton-text animated></ion-skeleton-text>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
