<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title>Moods</ion-title>
		<ion-buttons slot="start">
			<ion-menu-button menu="side-menu">
				<ion-icon class="icon" src="../../assets/icons/svg/menu.svg"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="flex flex-col gap-y-2 h-full">
    <ion-searchbar
      (click)="openSearchPage()"
      type="text"
      inputmode="text"
      placeholder="Cari mood"
      showCancelButton="never">
    </ion-searchbar>

    <ion-button [routerLink]="['/side-menu/tabs/moods/select-mood']" expand="block" shape="round" color="primary" class="flex-shrink-0 normal-case">
      Tambahkan Mood anda!
      <ion-icon slot="start" name="add-circle"></ion-icon>
    </ion-button>

    <ng-container *ngIf="isLoading; else finishLoading">
      <mood-list-loader></mood-list-loader>
    </ng-container>

    <ng-template #finishLoading>
      <ng-container *ngIf="!(moods$ | async)?.length; else showMoods">
        <div class="flex-grow flex flex-col justify-center items-center">
          <fa-icon icon="hand-peace" class="text-primary"></fa-icon>
          <span>Tetap record Mood anda!</span>
        </div>
      </ng-container>

      <ng-template #showMoods>
        <ion-list lines="none" class="grid grid-flow-row bg-transparent p-0">
          <ion-item *ngFor="let mood of (moods$ | async)">
            <mood-list-item [mood]="mood" class="flex-1"></mood-list-item>
          </ion-item>
        </ion-list>
      </ng-template>
    </ng-template>
  </div>
</ion-content>
