<div class="flex flex-col gap-y-5">
  <ion-card class="rounded-lg p-5">
    <app-calendar [isStatistics]="true" [eventSource]="habitsByMonth" [monthViewTemplate]="monthViewTemplate"
      (selectDateChangedEvent)="onSelectCalendarDateChanged($event)">
    </app-calendar>

    <ng-template #monthViewTemplate let-view="view" let-row="row" let-col="col">
      <div (click)="onViewHabitsByDate(view.dates[row*7+col].date)">
        {{ view.dates[row*7+col].label }}
      </div>
    </ng-template>
  </ion-card>

  <ion-card class="flex flex-col gap-y-4 rounded-lg p-5">
    <div class="flex flex-wrap justify-center items-center gap-x-2">
      <h2 class="text-sm xs:text-lg font-semibold text-center">Top Habit Total Streaks Score</h2>
      <fa-icon icon="trophy" class="text-yellow-500"></fa-icon>
    </div>
    <ng-container *ngIf="!habitsByBestStreaks.length; else showTopStreaks">
      <span class="text-sm xs:text-base font-medium text-center">Belum ada data habit</span>
    </ng-container>
    <ng-template #showTopStreaks>
      <div class="grid grid-flow-row gap-y-2 text-xs xs:text-base">
        <div *ngFor="let habit of habitsByBestStreaks; let idx= index" class="grid grid-flow-col gap-x-2">
          <span>{{ idx+1 }}.</span>
          <div class="flex flex-col">
            <span class="font-semibold">{{ habit.name }}</span>
            <span>
              {{ (habit.goalDates.start | dateInBahasa).shortDate }} - {{ (habit.goalDates.end | dateInBahasa).shortDate
              }} ({{ habit.totalStreaks }} hari)
            </span>
          </div>
        </div>
      </div>
      <!--<ol class="list-decimal list-inside flex flex-col gap-y-2">
        <li *ngFor="let habit of habitsByBestStreaks">
          <div class="flex flex-col">
            <span class="font-semibold">{{ habit.name }}</span>
            <span>
              {{ (habit.goalDates.start | dateInBahasa).shortDate }} - {{ (habit.goalDates.end | dateInBahasa).shortDate }} ({{ habit.totalStreaks }} hari)
            </span>
          </div>
        </li>
      </ol>-->
    </ng-template>
  </ion-card>

  <ion-card class="flex flex-col justify-center items-center gap-y-2 rounded-lg p-5">
    <h2 class="text-sm xs:text-lg font-semibold text-center">Grafik Keberhasilan Tahunan</h2>
    <button (click)="onSelectBarChartYear()"
      class="border rounded-lg text-white bg-primary w-fit-content text-xs xs:text-sm p-2">{{ selectedYear ?
      selectedYear : 'Pilih Tahun' }}</button>
    <div class="relative w-full h-full">
      <div *ngIf="!barChart?.data?.datasets[0]?.data?.length"
        class="absolute inset-0 bg-white bg-opacity-80 flex justify-center items-center">
        <span class="text-sm xs:text-lg font-semibold">Belum ada data habit</span>
      </div>
      <canvas #barChartCanvas></canvas>
    </div>
  </ion-card>

  <ion-card class="flex flex-col justify-center items-center gap-y-2 rounded-lg p-5">
    <h2 class="text-sm xs:text-lg font-semibold text-center">Total Presentase Keberhasilan</h2>
    <div class="relative w-full h-full">
      <div *ngIf="!pieChart?.data?.datasets[0]?.data?.length"
        class="absolute inset-0 bg-white bg-opacity-80 flex justify-center items-center">
        <span class="text-sm xs:text-lg font-semibold">Belum ada data habit</span>
      </div>
      <canvas #pieChartCanvas></canvas>
    </div>
  </ion-card>
</div>
