<div class="flex flex-col gap-y-6">
  <ion-card class="rounded-lg p-4">
    <app-calendar 
      [isStatistics]="true" 
      [eventSource]="habitsByMonth"
      [monthViewTemplate]="monthViewTemplate"
      (selectDateChangedEvent)="onSelectCalendarDateChanged($event)">
    </app-calendar>

    <ng-template #monthViewTemplate let-view="view" let-row="row" let-col="col">
      <div (click)="onViewHabitsByDate(view.dates[row*7+col].date)">
        {{ view.dates[row*7+col].label }}
      </div>
    </ng-template>
  </ion-card>
</div>
