<ion-list #slidingList lines="none" class="grid grid-flow-row gap-y-1 bg-transparent p-0">
  <ion-item-sliding *ngFor="let habit of habits">
    <ion-item-options side="start">
      <ion-item-option class="bg-transparent">
        <div (click)="onEdit(habit)"
          class="flex flex-col items-center gap-y-2 rounded-lg bg-green-500 text-white p-3 xs:p-4">
          <ion-icon name="create" class="text-2xl xs:text-4xl"></ion-icon>
          <label class="normal-case text-xs xs:text-base font-semibold">Ubah</label>
        </div>
      </ion-item-option>
    </ion-item-options>

    <ion-item>
      <habit-list-item [habit]="habit" class="flex-1"></habit-list-item>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option class="bg-transparent">
        <div (click)="onRemove(habit)"
          class="flex flex-col items-center gap-y-2 rounded-lg bg-red-500 text-white p-3 xs:p-4">
          <ion-icon name="trash" class="text-2xl xs:text-4xl"></ion-icon>
          <label class="normal-case text-xs xs:text-base font-semibold">Hapus</label>
        </div>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
