<ion-header class="ion-no-border">
  <ion-toolbar class="with-back-button with-button-icon">
    <ion-title>Aktivitas Baru</ion-title>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="side-menu/settings"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <form #createActivityForm="ngForm" class="flex flex-col h-full" (ngSubmit)="onSubmit(createActivityForm)">
    <ion-item class="flex-grow" lines="none">
      <ion-label>Nama</ion-label>
      <ion-input type="text" inputmode="text" name="name" placeholder="Nama aktivitas" ngModel></ion-input>
    </ion-item>
    <ion-button type="submit" class="flex-grow-0">
      <ion-icon slot="end" name="arrow-forward-circle"></ion-icon>
      Lanjut
    </ion-button>
  </form>
</ion-content>
