<ion-header>
  <ion-toolbar>
    <ion-title>Masuk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">Masuk yuk!</h1>
  <form class="ion-margin-top" #formLogin="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Alamat surel atau nama pengguna</ion-label>
      <ion-input type="text" placeholder="Alamat surel atau nama pengguna anda" inputmode="text" name="emailOrUsername" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Kata sandi</ion-label>
      <ion-input type="password" placeholder="Kata sandi anda" inputmode="text" name="password" ngModel></ion-input>
    </ion-item>
    <ion-button type="submit" class="ion-margin-top" shape="round" expand="full">Masuk</ion-button>
  </form>
  <ion-button type="submit" class="ion-margin-top" shape="round" color="danger" expand="full" (click)="onGoogleSignIn()">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Masuk dengan Google
  </ion-button>
  <p class="ion-text-center">
    Belum memiliki akun? Gabung <a [routerLink]="['/sign-up']">sekarang!</a>
  </p>
</ion-content>

<Footer></Footer>

