<ion-content>
	<div class="flex flex-col justify-center h-full">
		<h1 class="text-2xl text-center">Masuk kuy!</h1>
		<form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="mt-2">
			<ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-item class="rounded-xl">
              <ion-label position="stacked">Alamat surel atau nama pengguna</ion-label>
              <ion-input type="text" placeholder="Alamat surel atau nama pengguna anda" inputmode="text" formControlName="emailOrUsername"></ion-input>
              <ion-icon slot="end" name="mail" color="primary" class="text-base my-auto"></ion-icon>
            </ion-item>
            <div class="flex mt-1 font-semibold" *ngFor="let error of errorMessages.emailOrUsername">
              <ng-container
                *ngIf="emailOrUsername.hasError(error.type) && (emailOrUsername.touched || emailOrUsername.dirty)">
                <small class="text-red-600">{{ error.message }}</small>
                <ion-icon name="alert-circle" class="text-base text-red-600 ml-1 my-auto" ></ion-icon>
              </ng-container>
            </div>
          </ion-col>
          
          <ion-col size="12">
            <ion-item class="rounded-xl">
              <ion-label position="stacked">Kata sandi</ion-label>
              <ion-input type="password" placeholder="Kata sandi anda" inputmode="text" formControlName="password"></ion-input>
              <ion-icon slot="end" name="lock-open" color="primary" class="icon text-base my-auto"></ion-icon>
            </ion-item>
            <div class="flex mt-1 font-semibold" *ngFor="let error of errorMessages.password">
              <ng-container *ngIf="password.hasError(error.type) && (password.touched || password.dirty)">
                <small class="text-red-600">{{ error.message }}</small>
                <ion-icon name="alert-circle" class="text-base text-red-600 ml-1 my-auto" ></ion-icon>
              </ng-container>
            </div>
          </ion-col>

          <ion-col class="text-center" size="12">
            <ion-button type="submit" shape="round" class="normal-case">Masuk</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
		</form>

		<div class="flex justify-center mt-1">
			<ion-button (click)="onGoogleSignIn()" shape="round" color="danger" class="normal-case">
				<ion-icon slot="start" name="logo-google"></ion-icon>
        Masuk dengan Google
			</ion-button>
		</div>

    <div class="grid grid-cols-2 justify-items-center items-center gap-x-10 mt-6">
      <span class="text-sm sm:text-base">
        Daftar <a class="font-semibold text-purple-800 underline" [routerLink]="'/sign-up'">sekarang</a>!
      </span>
      <span class="text-sm sm:text-base">
        Lupa <a class="font-semibold text-purple-800 underline" [routerLink]="'/forgot-password'">kata sandi</a>? 
      </span>
    </div>
	</div>
</ion-content>
