<h1 class="text-lg sm:text-2xl font-semibold text-left mt-0">{{ article.title }}</h1>
<div class="text-black text-opacity-50 text-sm sm:text-base">
	<span class="block">Waktu posting: {{ article.postedAt }}</span>
	<span class="block">Penulis: {{ article.author }}</span>
</div>
<div class="text-center mt-8">
	<img class="w-3/4" [src]="article.headerImg" alt="">
	<a class="block text-black text-opacity-50 text-xs sm:text-base mt-2" [href]="article.url">{{ article.url }}</a>
</div>
<p class="text-sm sm:text-lg text-center" [innerHTML]="article.content"></p>
