ion-toolbar {
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
  border-radius: 0 !important;
}

ion-content {
  --padding-top: 1rem;
}

:host {
  &.ion-page {
    height: 65%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2rem;
  }

  ::ng-deep {
    .table-bordered {
      border: none !important;
      font-size: 1rem !important;

      th, td {
        border: none !important;
      }

      thead {
        background-color: var(--ion-color-primary) !important;

        th {
          background-color: var(--ion-color-primary) !important;
          color: white !important;
        }
      }
    }

    .monthview-selected {
      background-color: var(--ion-color-primary) !important;
    }

    .event-detail-container {
      display: none;
    }
  }
}
