<ion-header>
  <ion-toolbar>
    <ion-title>Beranda</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="side-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Beranda</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="mood">
        <ion-icon name="happy"></ion-icon>
        <ion-label>Mood</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="habit">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Habit</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="statistic">
        <ion-icon name="pie-chart"></ion-icon>
        <ion-label>Statistik</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

