<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="side-menu/settings"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col h-full">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <h1 class="text-lg">Ubah Kata Sandi</h1>
          </ion-col>
          <ion-col size="12">
            <ion-item class="rounded-xl">
              <ion-label position="stacked">Kata sandi lama</ion-label>
              <ion-input type="password" placeholder="Kata sandi lama anda" inputmode="text" formControlName="oldPassword"></ion-input>
              <ion-icon slot="end" name="lock-closed" color="primary" class="text-base my-auto"></ion-icon>
            </ion-item>
            <div class="flex mt-1 font-semibold" *ngFor="let error of errorMessages.oldPassword">
              <ng-container *ngIf="oldPassword.hasError(error.type) && (oldPassword.touched || oldPassword.dirty)">
                <small class="text-red-600">{{ error.message }}</small>
                <ion-icon name="alert-circle" class="text-base text-red-600 ml-1 my-auto"></ion-icon>
              </ng-container>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Kata sandi baru</ion-label>
              <ion-input type="password" placeholder="Kata sandi baru anda" inputmode="text" formControlName="newPassword"></ion-input>
              <ion-icon slot="end" name="lock-open" class="text-base my-auto"></ion-icon>
            </ion-item>
            <div class="flex mt-1 font-semibold" *ngFor="let error of errorMessages.newPassword">
              <ng-container *ngIf="newPassword.hasError(error.type) && (newPassword.touched || newPassword.dirty)">
                <small class="text-red-600">{{ error.message }}</small>
                <ion-icon name="alert-circle" class="text-base text-red-600 ml-1 my-auto"></ion-icon>
              </ng-container>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Konfirmasi Kata sandi baru</ion-label>
              <ion-input type="password" placeholder="Konfirmasi kata sandi baru anda" inputmode="text" formControlName="confirmNewPassword"></ion-input>
              <ion-icon slot="end" name="lock-closed" color="primary" class="text-base my-auto"></ion-icon>
            </ion-item>
            <div class="flex mt-1 font-semibold" *ngFor="let error of errorMessages.confirmNewPassword">
              <ng-container *ngIf="confirmNewPassword.hasError(error.type) && (confirmNewPassword.touched || confirmNewPassword.dirty)">
                <small class="text-red-600">{{ error.message }}</small>
                <ion-icon name="alert-circle" class="text-base text-red-600 ml-1 my-auto"></ion-icon>
              </ng-container>
            </div>
            <div class="flex mt-1 font-semibold" *ngIf="confirmNewPassword?.errors?.matchValidator">
              <small class="text-red-600">Kata sandi dengan konfirmasi kata sandi tidak sama</small>
              <ion-icon name="alert-circle" class="text-base text-red-600 ml-1 my-auto"></ion-icon>
            </div>
          </ion-col>

          <ion-col class="text-center" size="12">
            <ion-button type="submit" shape="round" class="normal-case">Ubah</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
