<div class="inner-content flex flex-col gap-y-5 items-center p-8">
  <h3 class="text-sm xs:text-lg font-medium">Two Step Verification</h3>
  <input type="password" [(ngModel)]="password" class="rounded-lg border-2 border-primary p-2"
    placeholder="Password anda">
  <div class="flex justify-center items-center gap-x-2">
    <ion-button (click)="onSubmit()" shape="round" class="normal-case text-sm xs:text-md">Kirim</ion-button>
    <ion-button (click)="onClose()" shape="round" class="normal-case text-sm xs:text-md">Kembali</ion-button>
  </div>
</div>
