#create-mood-button {
  --padding-top: 1.5rem;
  --padding-bottom: 1.5rem;
  --padding-start: 1.5rem;
  --padding-end: 1.5rem;

  @media screen and (max-width: var(--small-screen-width)) {
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
  }
}

ion-list {
  ion-item {
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
  }
}
