<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Pilih Kategori Aktivitas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon name="close-circle" class="icon" style="font-size: 35px !important;"></ion-icon>
      </ion-button>
    </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!(activityCategoryList$ | async)?.length; else showActivityCategories">
    <div class="flex justify-center items-center h-full">
      <span>-Belum ada kategori aktivitas yang tersimpan-</span>
    </div>
  </ng-container>
  <ng-template #showActivityCategories>
    <ion-list>
      <ion-item *ngFor="let activityCategory of (activityCategoryList$ | async)" button (click)="onSelectCategory(activityCategory)">
        <ion-icon class="mr-2" name="folder-open-outline" color="primary"></ion-icon>
        <ion-label>
          {{ activityCategory.category }}
          <span class="text-black text-opacity-25">({{ activityCategory.activitiesCount }}x)</span>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
