<ion-header>
	<ion-toolbar>
    <div class="flex items-center">
      <button [routerLink]="['/side-menu/tabs/home']" class="flex text-2xl focus:outline-none">
        <ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
      </button>
      <ion-avatar class="mx-auto">
          <img src="../../../assets/images/chatbot.png" />
        </ion-avatar>
    </div>
	</ion-toolbar>
</ion-header>

<!--<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
</ion-content>-->

<ion-content scrollEvents (ionScroll)="logScrolling($event)">
  <ion-refresher slot="fixed" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="flex flex-col gap-y-3">
    <ng-container *ngFor="let message of messages">
      <bubble-chat [message]="message"></bubble-chat>
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="flex items-center gap-x-2 p-3">
      <ion-textarea [(ngModel)]="messageText" class="flex-grow bg-gray-100 rounded-lg border-1 border-primary m-0 focus:outline-none" inputmode="text" placeholder="Ketik sesuatu atau ketik 'Bantuan'" rows="1" autoGrow></ion-textarea>
      <ion-icon name="send" color="primary" (click)="onSendMessage()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>
