ion-header {
  background-color: #F3F4F6;

  ion-toolbar {
    --background: #F3F4F6;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
    
    ion-back-button {
      --background: transparent;
    }
  }
}

ion-textarea {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 5px;
  --padding-bottom: 5px;
  max-height: 150px;
}
