/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
//@import "@ionic/angular/css/padding.css";
//@import "~@ionic/angular/css/float-elements.css";
//@import "~@ionic/angular/css/text-alignment.css";
//@import "~@ionic/angular/css/text-transformation.css";
//@import "~@ionic/angular/css/flex-utils.css";

/* TailwindCSS */
@import 'tailwindcss/base';
//@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Ionic Component Custom Styles */
@import './styles/modals.scss';

/* Ionic2-Calendar */
.monthview-container {
  height: fit-content !important;
  margin-top: 1rem;
}

/* ngx-material-timepicker */
ngx-material-timepicker-content {
  --body-background-color: #fff;
  --primary-font-family: 'Roboto',sans-serif;
  --button-color: var(--ion-color-primary) !important;
  --dial-active-color: #fff;
  --dial-inactive-color: rgba(255, 255, 255, .5);
  --dial-background-color: var(--ion-color-primary) !important;
  --dial-editable-active-color: var(--ion-color-primary) !important;
  --dial-editable-background-color: #fff;
  --clock-face-time-active-color: #fff;
  --clock-face-time-inactive-color: #6c6c6c;
  --clock-face-inner-time-inactive-color: #929292;
  --clock-face-time-disabled-color: #c5c5c5;
  --clock-face-background-color: #f0f0f0;
  --clock-hand-color: var(--ion-color-primary) !important;

  .timepicker-dial__container {
    justify-content: center !important;

    .timepicker-dial__period {
      display: none !important;
    }
  }

  .timepicker-dial__hint {
    display: none !important;
  }

  .timepicker-dial__control {
    outline: none !important;
  }

  .timepicker__actions {
    column-gap: 2rem !important;
  }
}

/* Ionic */
.no-ripple {
  --ripple-color: transparent;
}

.popover-content {
  border-radius: 1.25rem !important;
}

.swiper-slide, .swiper-pagination {
  position: static !important;
}

//.loading-spinner {
//  --background: none;
//
//  .loading-wrapper {
//      box-shadow: none !important;
//      -webkit-box-shadow: none !important;
//  }
//}

ion-item {
  &.item-without-highlight {
    --highlight-color-focused: none;
    --highlight-color-valid: none;
  }
}

ion-input {
  &.input-without-padding {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
  }
}

ion-button {
  &.rounded-button {
    --border-radius: 1.5rem;
  }
}

ion-back-button {
  --icon-margin-top: 0;
  --icon-margin-bottom: 0;
  --icon-margin-start: 0;
  --icon-margin-end: 0;

  --icon-padding-top: 0;
  --icon-padding-bottom: 0;
  --icon-padding-start: 0;
  --icon-padding-end: 0;

  --margin-top: 0;
  --margin-bottom: 0;
  --margin-start: 0;
  --margin-end: 0;

  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;

	/*&.back-button-has-icon-only {
		min-width: 40px;
		height: 40px;
	}*/
}

ion-header {
  ion-toolbar {
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    ion-back-button {
      --icon-font-size: 1.5rem;
    }

    /*&.with-back-button {
      --padding-start: 1rem;
      --padding-end: 1rem;
      --padding-top: 1rem;
      --padding-bottom: 1rem;
    }

    &.with-button-icon {
      ion-button {
        min-width: 40px;
        height: 40px;
        --padding-start: 0.1rem;
        --padding-end: 0.1rem;
        --padding-top: 0.1rem;
        --padding-bottom: 0.1rem;

        ion-icon {
          font-size: 18px !important;
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    }*/
  }
}

ion-infinite-scroll {
	ion-infinite-scroll-content {
		.infinite-loading {
			margin-top: auto;
			margin-bottom: auto;
		}
	}
}

ion-content {
  --padding-top: 1rem;
  --padding-bottom: 1rem;
	--padding-start: 1rem;
	--padding-end: 1rem;

  &.flex-column {
    &::part(scroll) {
      display: flex;
      flex-direction: column;
    }
  }

  &.flex-column-center {
    &::part(scroll) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &.row-gap-2 {
    &::part(scroll) {
      row-gap: 0.5rem;
    }
  }

  &.row-gap-4 {
    &::part(scroll) {
      row-gap: 1rem;
    }
  }

  &.row-gap-5 {
    &::part(scroll) {
      row-gap: 1.25rem;
    }
  }

  &.row-gap-6 {
    &::part(scroll) {
      row-gap: 1.5rem;
    }
  }
}

/* Custom theme */
.main-theme {
	//--ion-color-primary: #5b21b6;
	//--ion-color-primary-rgb: 91, 33, 182;
	//--ion-color-primary-contrast: #ffffff;
	//--ion-color-primary-contrast-rgb: 255, 255, 255;
	//--ion-color-primary-shade: #501da0;
	//--ion-color-primary-tint: #6b37bd;

  --ion-color-primary: #41c1dd;
  --ion-color-primary-rgb: 65,193,221;
  --ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #39aac2;
  --ion-color-primary-tint: #54c7e0;
  
	ion-icon {
    &.icon {
      color: white;
    }
  }

	ion-back-button {
		--background: var(--ion-color-primary);
		--color: var(--ion-color-primary-contrast);
	}

  ion-header, ion-footer {
    background-color: #F3F4F6;
  }

	ion-header {
    ion-toolbar {
      --background: var(--ion-color-primary);
      --color: white;
    }

    /*&.side-menu-header {
      ion-toolbar {
        --background: var(--ion-color-primary);

        ion-title {
          --color: var(--ion-color-primary-contrast);
        }
      }
    }*/
	}

  ion-footer {
    ion-toolbar {
      --background: transparent;
    }
  }

  ion-searchbar {
    --icon-color: var(--ion-color-primary);
  }

	ion-content {
    --background: #F3F4F6 !important;

    /*&.side-menu-content {
      --background: var(--ion-color-primary) !important;

      ion-list {
        ion-item {
          --background: var(--ion-color-primary);
          --color: var(--ion-color-primary-contrast);
          background-color: var(--ion-color-primary) !important;

          ion-icon {
            color: var(--ion-color-primary-contrast);
          }
        }
      }
    }*/
	}

  ion-tabs {
    --background: #F3F4F6 !important;

    ion-tab-bar {
      //--background: var(--ion-color-primary);

      ion-tab-button {
        //--background: var(--ion-color-primary);
        --background: #F3F4F6;

        //ion-label, ion-icon {
        //  color: white;
        //}
      }
    }
  }
}

.dark-theme {
	--ion-color-primary: #f4f5f8;
	--ion-color-primary-rgb: 244, 245, 248;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0, 0, 0;
	--ion-color-primary-shade: #d7d8da;
	--ion-color-primary-tint: #f5f6f9;

	--ion-background-color: #121212;
	--ion-background-color-rgb: 18, 18, 18;

	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255, 255, 255;

	--ion-border-color: #222222;
}
