<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Cari Mood</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="side-menu/tabs/moods"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-column row-gap-10">
  <div class="flex flex-col w-full">
    <ion-searchbar #searchBar (ionChange)="onSearchChanged($event)" type="text" inputmode="text"
      placeholder="Ketik sesuatu bedasarkan..." showCancelButton="never">
    </ion-searchbar>
    <!--<span class="text-sm italic font-semibold ml-2">*default: Catatan</span>-->
  </div>

  <div class="flex flex-col items-center gap-y-3">
    <label class="text-sm xs:text-base text-black text-opacity-50 font-semibold">
      Tanggal awal - Tanggal akhir
    </label>
    <div class="flex gap-x-10">
      <div class="flex flex-col items-center gap-y-2">
        <select-date [selectedDate]="filters.createdDate.start" (selectDateEvent)="onSelectRangeDate($event, 'start')">
        </select-date>
        <ion-button type="button" (click)="onClearFilter('createdDate.start')" color="light"
          class="normal-case text-xs xs:text-sm w-fit-content">
          Hapus
        </ion-button>
      </div>
      <div class="flex flex-col items-center gap-y-2">
        <select-date [selectedDate]="filters.createdDate.end" (selectDateEvent)="onSelectRangeDate($event, 'end')">
        </select-date>
        <ion-button type="button" (click)="onClearFilter('createdDate.end')" color="light"
          class="normal-case text-xs xs:text-sm w-fit-content">
          Hapus
        </ion-button>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center gap-y-3">
    <label class="text-sm xs:text-base text-black text-opacity-50 font-semibold">
      Mood
    </label>
    <select-emoticon [selectedEmoticon]="filters.emoticon" [showLabel]="false"
      (selectEmoticonEvent)="onSelectEmoticon($event)" class="w-10/12 xs:w-4/5">
    </select-emoticon>
    <ion-button type="button" (click)="onClearFilter('emoticon')" color="light"
      class="normal-case text-xs xs:text-sm w-fit-content">
      Hapus
    </ion-button>
  </div>

  <div class="flex flex-col items-center gap-y-3 w-full">
    <label class="text-sm xs:text-base text-black text-opacity-50 font-semibold">
      Parameter dan Catatan
    </label>

    <div class="flex flex-wrap justify-center gap-2 xs:gap-4 w-full">
      <ion-button (click)="onText('internal')" [ngClass]="{ 'filter brightness-75': filters.parameters.internal }"
        expand="block" color="warning" shape="round" class="flex-1 normal-case text-xs xs:text-base">
        <ion-icon slot="start" name="add" color="light"></ion-icon>
        Internal
      </ion-button>
      <ion-button (click)="onText('external')" [ngClass]="{ 'filter brightness-75': filters.parameters.external }"
        expand="block" color="danger" shape="round" class="flex-1 normal-case text-xs xs:text-base">
        <ion-icon slot="start" name="add" color="light"></ion-icon>
        External
      </ion-button>
      <ion-button (click)="onText('note')" [ngClass]="{ 'filter brightness-75': filters.note }" expand="block"
        color="success" shape="round" class="normal-case text-xs xs:text-base w-1/2">
        <ion-icon slot="start" name="add" color="light"></ion-icon>
        Catatan
      </ion-button>
    </div>

    <!-- <select-activities [extraButtons]="false" (selectActivitiesEvent)="onSelectActivities($event)" class="block w-full"></select-activities> -->
  </div>

  <div class="flex-1 flex justify-center items-center">
    <img src="../../../../../assets/images/wondering.png" class="w-48 xs:w-72" alt="">
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="flex justify-center items-center p-4">
      <ion-button (click)="onSearch()" color="primary" class="flex-1 normal-case text-xs xs:text-md">
        <ion-icon slot="start" name="search"></ion-icon>
        Cari
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
