<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Cari Mood</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="side-menu/tabs/moods"></ion-back-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col items-center gap-y-3 h-full">
    <div class="flex flex-col w-full">
      <ion-searchbar
        #searchBar
        (ionChange)="onSearchChanged($event)"
        type="text"
        inputmode="text"
        placeholder="Ketik sesuatu bedasarkan..."
        showCancelButton="never">
      </ion-searchbar>
      <!--<span class="text-sm italic font-semibold ml-2">*default: Catatan</span>-->
    </div>

    <div class="flex flex-col items-center gap-y-5 w-full">
      <h3 class="text-base xs:text-xl font-medium mt-4">Cari bedasarkan</h3>

      <select-emoticon [showLabel]="false" (selectEmoticonEvent)="onSelectEmoticon($event)" class="w-11/12 xs:w-10/12"></select-emoticon>

      <div class="flex flex-wrap justify-center gap-2 xs:gap-4 w-full">
        <ion-button 
          (click)="onText('internal')" 
          [ngClass]="{ 'filter brightness-75': filters.parameters.internal }" 
          expand="block" 
          color="warning" 
          shape="round" 
          class="flex-1 normal-case text-xs xs:text-base">
          <ion-icon slot="start" name="add" color="light"></ion-icon>
          Internal
        </ion-button>
        <ion-button 
          (click)="onText('external')" 
          [ngClass]="{ 'filter brightness-75': filters.parameters.external }" 
          expand="block" 
          color="danger" 
          shape="round" 
          class="flex-1 normal-case text-xs xs:text-base">
          <ion-icon slot="start" name="add" color="light"></ion-icon>
          External
        </ion-button>
        <ion-button 
          (click)="onText('note')" 
          [ngClass]="{ 'filter brightness-75': filters.note }" 
          expand="block" 
          color="success" 
          shape="round" 
          class="normal-case text-xs xs:text-base w-1/2">
          <ion-icon slot="start" name="add" color="light"></ion-icon>
          Catatan
        </ion-button>
      </div>

      <select-activities [extraButtons]="false" (selectActivitiesEvent)="onSelectActivities($event)" class="block w-full"></select-activities>
    </div>

    <div class="flex-1 flex justify-center items-center">
      <img src="../../../../../assets/images/wondering.png" class="w-48 xs:w-72" alt="">
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="flex justify-center items-center p-4">
      <ion-button (click)="onSearch()" color="primary" class="flex-1 normal-case text-xs xs:text-md">
        <ion-icon slot="start" name="search"></ion-icon>
        Cari
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
